<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      AirBNB Clone
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/4-com\
mon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-hea\
der.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-foo\
ter.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/6-fil\
ters.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='image\
s/icon.png') }}" />

  </head>

  <body>
    <header></header>
    <div class="container">
      <section class="filters">
        <div class="locations">
          <h3>States</h3>
          <h4>&nbsp;</h4>
          <ul class="popover">
            <li>
	      {%for i in list_state|sort(attribute='name')%}
              <h2>{{i.name}}</h2>
              <ul>
		{%for j in i.cities|sort(attribute='name')%}
                <li>{{j.name}}</li>
		{% endfor %}
              </ul>
            </li>
	    {% endfor %}
          </ul>
        </div>
        <div class="amenities">
          <h3>Amenities</h3>
          <h4>&nbsp;</h4>
          <ul class="popover">
	    {%for i in list_amenity|sort(attribute='name')%}
            <li>{{ i.name }}</li>
	    {% endfor %}
          </ul>
        </div>
        <button>
          Search
        </button>
      </section>
    </div>
    <footer>
      Holberton School
    </footer>
  </body>
</html>
